@model List<Animal>

<ul>
    @{
        foreach (Animal a in Model)
        {
            <h1>@a.Name</h1>
            <img height="500px" src="@a.Img" />
            <p>Description: @a.Description</p>
             <a asp-controller="Adoption" asp-action="RemoveAnimal" asp-route-id="@a.Id">Adopt Me</a>
        }

    }

</ul>