
<form asp-action="AddAnimal" asp-method="post">
    <p>Please enter the following information.</p>

    <ul>
        <li>
            <label for="name">Name: </label>
            <input type="text" name="name" id="name" required />

        </li>

        <li>
            <label for="img">Image URL </label>
            <input type="url" name="img" id="img" />

        </li>


        <li>
            <label for="description">Description </label>
            <input type="text" name="description" id="description" />

        </li>


        <li>
            <label for="breed">Breed </label>
            <input type="text" name="breed" id="breed" />

        </li>
        <label for="age">Age </label>
        <input type="number" name="age" id="age" />

        </li>

        <input type="reset" />

        <input type="submit" />
    </ul>
</form>